@use '../../globalStyles.scss' as *;
@use '../../variables.scss' as *;

.settings-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    font-size: $fs-200;
    text-align: right;

    @media (max-width: $screen-small) {
        font-size: $fs-500;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: $screen-small) {
            gap: 3rem;
        }

        .settings-section__param-container {
            
            span {
                font-size: $fs-100;

                @media (max-width: $screen-small) {
                    font-size: $fs-400;
                }
            }

        }

        .submit-buttons-container {

            align-self: flex-end;
            display: flex;
            gap: 1rem;

            @media (max-width: $screen-small) {
                margin-top: 1.5rem;
                margin: auto;
            }

            .settings-section__accept-changes,
            .settings-section__reset-settings {
                margin-top: 1rem;
                border: none;
                background: $clr-text;
                border-radius: 0.5rem;
                padding: 0.5rem;
                color: white;
                font-size: $fs-200;
                margin-left: auto;

                @media (max-width: $screen-small) {
                    font-size: $fs-500;
                    padding: .5rem 1rem;
                    border-radius: 1rem;
                }
    
                &:hover {
                    background: $clr-text2;
                    cursor: pointer;
                }
            }
        }

    }
    
    &__slider {
        -webkit-appearance: none;
        width: 100%;
        height: 0.5rem;
        border-radius: 1rem;
        background: rgb(223, 223, 223);
        background-image: linear-gradient($clr-text, $clr-text);
        background-size: 50% 100%;
        background-repeat: no-repeat;

        @media (max-width: $screen-small) {
            height: 1rem;
        }

        &:hover,
        &:focus-visible {
            background-image: linear-gradient($clr-text2, $clr-text2);

            &::-webkit-slider-thumb {
                background: $clr-text2;
            }
        }

        // thumb
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            box-shadow:
                0 0 0 0.250rem hsl(0, 0%, 100%),
                0 0 0 0.275rem hsl(0, 0%, 0%);
            background: $clr-text;
            cursor: pointer;  

            @media (max-width: $screen-small) {
                width: 1.875rem;
                height: 1.875rem;
                box-shadow:
                0 0 0 0.375rem hsl(0, 0%, 100%),
                0 0 0 0.425rem hsl(0, 0%, 0%);
            }

        }

        &::-moz-range-thumb {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            box-shadow:
                0 0 0 0.250rem hsl(0, 0%, 100%),
                0 0 0 0.275rem hsl(0, 0%, 0%);
            background: $clr-text;
            cursor: pointer;  
            
            @media (max-width: $screen-small) {
                width: 1.875rem;
                height: 1.875rem;
                box-shadow:
                0 0 0 0.375rem hsl(0, 0%, 100%),
                0 0 0 0.425rem hsl(0, 0%, 0%);
            }

        }

        &::-ms-range-thumb {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            box-shadow:
                0 0 0 0.250rem hsl(0, 0%, 100%),
                0 0 0 0.275rem hsl(0, 0%, 0%);
            background: $clr-text;
            cursor: pointer;  
          }

    }
}