@use '../../variables.scss' as *;
@use '../../globalStyles.scss' as *;

.end-btn {
    @include controlBtnStyles;
    @include glowingText($clr-text);
    font-size: $fs-300;
    opacity: 0;
    transition: 0.1s;
    pointer-events: none;
    transform: translateY(-1rem);

    &:hover {
        @include glowingText($clr-text2);
    }
}