@use '../../variables.scss' as *;
@use '../../globalStyles.scss' as *;

.timer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    &__time-container {
        @include glowingText($clr-text);
        font-size: $fs-900;
    }
}