@use '../../variables.scss' as *;
@use '../../globalStyles.scss' as *;

.rules-info-section {
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
    font-size: $fs-200;

    @media (max-width: $screen-small) {
        font-size: $fs-500;
        padding: 1.5rem 3rem;
    }

    ul {
        padding-inline: 1rem;

        li::marker {
            color: $clr-text;
        }
    }
}