@use '../../variables.scss' as *;
@use '../../globalStyles.scss' as *;

.start-pause-btn {
    @include controlBtnStyles;
    @include glowingText;
    display: flex;
    
    .start-pause-icon {
        padding: 0;
        width: 80%;
        height: 80%;
        font-size: $fs-800;
        margin: auto;
    }
}