
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto&display=swap');

$clr-primary-1: #0f021a;
$clr-text: #ff52c2;
$clr-text2: #d5ca24;;
$clr-light: #f5f5f5;
$clr-greyed: #ffffff1a;

// fonts
$ff-heading: 'Concert One', cursive;
$ff-casual: 'Roboto', sans-serif;

// font sizes
$fs-1000: 9rem;
$fs-900: 8rem;
$fs-800: 6rem;
$fs-700: 4rem;
$fs-600: 2.5rem;
$fs-500: 1.75rem;
$fs-400: 1.5rem;
$fs-300: 1.15rem;
$fs-200: 0.875rem;
$fs-100: 0.750rem;
